:global {
  .qwp-data-table {
    .ant-table-selection-column, .ant-table-row-expand-icon-cell {
      min-width: 16px!important;
      width: 16px!important;
    }

    .ant-table-body {
      overflow-y: hidden!important;

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }

      &:hover {
                
        &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }

    .ant-table-pagination {
      padding-top: 12px!important;
      padding-bottom: 0!important;
      margin-top: 0!important;
      margin-bottom: 0!important;
    }

    .ant-table-header table colgroup col {
      min-width: 0!important;
    }

    .ant-form-item {
      margin-right: 1px!important;
    }

    .ant-form-item:not(:last-child) {
      width: 88px;
    }
  }
}

.searchContent {
  position: absolute;
  z-index: 1;
  background: white;
  display: none;
  padding: 6px 4px 0 4px;
  border-bottom: 1px solid #d9d9d9;
}

.dataTableHeader {
  padding-top: 1px;
  padding-bottom: 6px;
}